---
interface Props {
  title: string;
  contents: Post[];
}
type Post = {
  title: string;
  content: string;
  href: string;
};
import Card from "../Card.astro";
const { title, contents } = Astro.props;
---

<div class="flex flex-col w-full dark:text-white pl-12 pr-6 md:flex-row">
  

  <h3 class="block md:hidden transform text-2xl whitespace-nowrap mb-6">{title}</h3>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 w-full">    {
      contents.map((element) => (
        <Card
          title={element.title}
          body={element.content}
          href={element.href}
        />
      ))
    }
  </div>
  <div class="w-[10%] hidden  flex-col justify-end md:flex ">  
      <h3 class="transform -rotate-90 text-2xl whitespace-nowrap">{title}</h3>
  </div>
</div>
