---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title="Jramma">
  <main class="text-white h-screen">
    <div class="flex gap-2 m-2 overflow-hidden">
        {
            frontmatter.imatges.map((img:string, i:number) => (
                <a href={`/imatge/${img}/`}>
                    <div class="m-2 transform transition-all duration-500 hover:scale-110 cursor-pointer">
                        <img src={img} alt={`foto ${i + 1}`} class="max-h-[30vh]" />
                        <p>{i}</p>
                    </div>
                </a>
            ))
        }
    </div>
    <div class="absolute top-[42vh] ml-4">
      <h3 class="text-2xl font-bold">Autor:</h3>
      <p class="text-lg ml-8">{frontmatter.autor}</p>
      <h3 class="text-2xl font-bold">Lloc:</h3>
      <p class="text-lg ml-8">{frontmatter.lloc}</p>
    </div>
    <div class="absolute bottom-0  pl-4 pb-4">
      <div class="flex flex-grow justify-between">
        <p>{frontmatter.data}</p>
        <div class="flex gap-8">
          <a class="z-30 " href="/"> Més galerías </a>
          <p>(100)</p>
        </div>
      </div>
      <div class="w-full flex items-center justify-center">
        <h1 class="text-[22vw] m-0 p-0" style="line-height: 0.8;">HORITZO</h1>
      </div>
    </div>
  </main>
</Layout>
