---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import { fade, slide } from "astro:transitions";
import { Icon } from "astro-icon/components";
import Theme from "../components/Theme.astro";
import GaleriaSlider from "../components/foto/GaleriaSlider.astro";
import TornarInici from "../components/TornarInici.astro";
---

<Layout title="Jramma">
  <main class="dark:text-white h-screen">
   <TornarInici/>
    <div class="absolute right-2 top-[46%]">
    <Theme />
  </div>
    <div
      transition:animate={slide({ duration: "1s" })}
      class="absolute top-1/2 right-0 w-[50%] sm:w-[80%] h-px bg-black dark:bg-white"
    >
    </div>
    <GaleriaSlider  imatges={frontmatter.imatges} />
    <div
      class="absolute top-[42vh] ml-4"
      transition:animate={slide({ duration: "0.6s" })}
    >
      <h3 class="text-2xl font-bold">Autor:</h3>
      <p class="text-lg ml-8">{frontmatter.autor}</p>
      <h3 class="text-2xl font-bold">Lloc:</h3>
      <p class="text-lg ml-8">{frontmatter.lloc}</p>
    </div>
    <div class="absolute bottom-0 pl-4 pb-4">
      <div class="flex flex-grow justify-between">
        <p class="hidden sm:block">{frontmatter.data}</p>
        <div class="flex gap-8">
          <a class=" z-30 group dark:text-white transition duration-300" href="/galeries"><Icon class="w-12 h-12"  name="right"/>Més galeries<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 dark:bg-white bg-black"></span>
          </a>
          <p class="mt-4 hidden sm:block">(2)</p>
        </div>
      </div>
      <div class="w-full flex items-center justify-center">
        <h1
          transition:animate={fade({ duration: "0.8s" })}
          class="text-[15vw] m-0 p-0"
          style="line-height: 0.8;"
        >
          {frontmatter.title}
        </h1>
      </div>
    </div>
  </main>
  <style>
    .marquee {
      z-index: 200;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      padding-left: 150%;
      animation: marquee 40s linear infinite;
      
    }

    @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  </style>
</Layout>
